auto
build
classes
docs

!src/rr/instrument/classes

test/*.class
log
tmp.java
.vscode
/.project

benchmarks/batik/scratch/*
benchmarks/fop/scratch/*
benchmarks/jython/scratch/*
benchmarks/pmd/scratch/*
benchmarks/tomcat/scratch/*
benchmarks/dacapo-9.12-MR1-bach.jar

*.dot
*.ps
TXgraph.pdf
testcases/**/*.class
output